# Fake news Detection

### Importing libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import re
import string

In [2]:
import warnings
warnings.filterwarnings("ignore")

# inserting datasets

In [3]:
df_fake = pd.read_csv(r"C:\Users\DURGA\Desktop\Fake.csv")
df_true = pd.read_csv(r"C:\Users\DURGA\Desktop\True.csv")

In [4]:
df_fake.head(5)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
df_true.head(5)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

# Inserting a "class" column for detecting fake or real news

In [6]:
df_fake["class"] = 0
df_true["class"] = 1

In [7]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

# Removing last 10 rows from both the dataset, for manual testing

In [8]:
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i], axis = 0, inplace = True)
df_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i], axis = 0, inplace = True)

Merging the manual testing dataframe in single dataset and save it in a csv file

In [9]:
df_manual_testing = pd.concat([df_fake_manual_testing,df_true_manual_testing], axis = 0)
df_manual_testing.to_csv("manual_testing.csv")

Merging the  fake and true dataframe

In [10]:
df_merge = pd.concat([df_fake, df_true], axis =0 )
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [33]:
df_merge.shape

(44878, 5)

In [34]:
df_merge.describe()

              class
count  44878.000000
mean       0.477004
std        0.499476
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [11]:
df_merge.isnull().sum()

title      0
text       0
subject    0
date       0
class      0
dtype: int64

In [12]:
df_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

#### "title",  "subject" and "date" columns is not required for detecting the fake news, so I am going to drop the columns.

In [13]:
df = df_merge.drop(["title", "subject","date"], axis = 1)
df.head()

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

# check whether there are null values or not

In [14]:
df.isnull().sum()

text     0
class    0
dtype: int64

#### Randomly shuffling the dataframe

In [35]:
df=df.sample(frac=1)
df.head()

                                                    text  class
23296   reuters    many u s  senate democrats are see...      1
30975   reuters    highlights for u s  president dona...      1
17065  shell admits to spilling   gallons of oil into...      0
21990  washington  reuters    the white house will se...      1
4545   washington  reuters    the u s  power sector s...      1

In [17]:
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [18]:
df.columns

Index(['text', 'class'], dtype='object')

In [19]:
df.head()

                                                text  class
0  Special Report: Savvy neocons see Hillary Clin...      0
1  WASHINGTON (Reuters) - Republican presidential...      1
2  NRA board member, draft-dodger, pedophile, and...      0
3  Donald Trump threw an early morning temper tan...      0
4  HELSINKI (Reuters) - Finnish police reprimande...      1

#### Creating a function to convert the text in lowercase, remove the extra space, special chr., ulr and links.

In [20]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [21]:
df["text"] = df["text"].apply(wordopt)

#### Defining dependent and independent variable as x and y

In [22]:
x = df["text"]
y = df["class"]

#### Splitting the dataset into training data and testing data.

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

#### Convert text to vectors

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

### 1. Logistic Regression

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
LR = LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [28]:
pred_lr=LR.predict(xv_test)

In [30]:
from sklearn.metrics import accuracy_score
accuracy_score(pred_lr,y_test)

0.9877005347593583

# Model Testing With Manual Entry  News

In [31]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Real news"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    return print("\n\n LR prediction: {}".format(output_lable(pred_LR[0])))

In [39]:
news = str(input())
manual_testing(news)

Foreign policy seldom shapes elections, but elections certainly shape foreign policy. Rodrigo Duterte won the Philippines presidency in May with 39 percent of the vote, and quickly changed how Manila does business. A man of bluster and bravado with a strong anti-American streak, he distanced the Philippines from Washington, even though the U.S. is a country that Filipinos overwhelmingly like and that has a treaty of alliance with the Philippines. In Tagalog, Duterte called President Barack Obama a “son of a whore,” announced he would seek a “separation” from the United States, and said that U.S. troops must leave the Philippines within two years.  The main beneficiary of Duterte’s anti-Americanism has been China, a country that many Filipinos dislike. After an international tribunal rejected China’s sweeping claims to the South China Sea in a much-anticipated legal case initiated by the Philippines, Duterte said the ruling would “take the back seat” as he sought Beijing’s favor. Duterte has yet to take any irrevocable steps,


 LR prediction: Real news